/* display the cards in a perfect grid. Wrap around to the next row when necessary, and center everything. */
/* .cardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.deckGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
}

.clashCard {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .cardImg {
    width: 100%;
    height: auto
  }

    /* media query to ensure that the deck expands on larger devices */
    @media (min-width: 768px) {
        .deckGrid {
          max-width: 50%;
        }
      }

      /* .cardGrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .customClashCard {
        box-sizing: border-box;
        margin: 2px;
        padding: 2px;
        transition: padding 0.3s;
      }
      
      @media (max-width: 576px) {
        .customClashCard {
          flex: 0 0 calc(25% - 4px);
        }
      }
      
      @media (min-width: 577px) and (max-width: 768px) {
        .customClashCard {
          flex: 0 0 calc(16.666% - 4px);
        }
      }
      
      @media (min-width: 769px) {
        .customClashCard {
          flex: 0 0 calc(12.5% - 4px);
        }
      } */

      .cardGrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -5px;
      }
      
      .customClashCard {
        width: calc(100% / 8 - 10px);
        margin: 5px;
        box-sizing: border-box;
      }
      
      @media (max-width: 992px) {
        .customClashCard {
          width: calc(100% / 6 - 10px);
        }
      }
      
      @media (max-width: 768px) {
        .customClashCard {
          width: calc(100% / 4 - 10px);
        }
      }
      
      @media (max-width: 576px) {
        .customClashCard {
          width: calc(100% / 4 - 10px);
        }
      }
                  
      

.deckHeader {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.deckHeader::after {
    content: "";
    display: block;
    width: 60%;
    height: 3px;
    background-color: #333;
    margin: 0.5rem auto;
  }