.postContainer {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
}

.postInfoContainer {
    font-size: 20px;
}

  /* deck display styling for posts */

  .deckContainer {
    /* display as grid, with 4 columns (so two rows of 4 cards each) */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
  }

  .cardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardImage {
    width: 100%;
    height: auto;
  }

  /* media query to ensure that the deck expands on larger devices */
  @media (min-width: 768px) {
    .deckContainer {
      max-width: 50%;
    }
  }
  
  .postContainer {
    background-color: #FFE4C4;
    border: 2px solid black;
    border-radius: 6px;
    margin: 1rem;
  }

  .postContainer:hover {
    border: 3px solid #EF7C8E;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4), 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    transition: all 0.3s ease-in-out;
  }

  .postButton {
    border: 2px solid black;
  }

  .rightAlign {
    text-align:center;
  }

  .postName {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  .postName:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
  }